<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaocai.web.demo.dao.website.WebPictrueMapper">
  <resultMap id="BaseResultMap" type="com.xiaocai.web.demo.entity.website.WebPictrue">
    <id column="pic_id" jdbcType="VARCHAR" property="picId" />
    <result column="link_id" jdbcType="VARCHAR" property="linkId" />
    <result column="pic_addr" jdbcType="VARCHAR" property="picAddr" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="pic_oldname" jdbcType="VARCHAR" property="picOldname" />
    <result column="pic_desc" jdbcType="VARCHAR" property="picDesc" />
    <result column="pic_suffix" jdbcType="VARCHAR" property="picSuffix" />
    <result column="pic_type" jdbcType="VARCHAR" property="picType" />
    <result column="pic_size" jdbcType="BIGINT" property="picSize" />
    <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
    <result column="pic_del" jdbcType="VARCHAR" property="picDel" />
    <result column="pic_mark" jdbcType="VARCHAR" property="picMark" />
    <result column="pic_no" jdbcType="INTEGER" property="picNo" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="pic_content" jdbcType="LONGVARBINARY" property="picContent" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xiaocai.web.demo.entity.website.WebPictrue">
    <result column="pic_content" jdbcType="LONGVARBINARY" property="picContent" />
  </resultMap>
  <resultMap id="ResultMapWithLink" type="com.xiaocai.web.demo.entity.website.WebPictrue">
    <id column="pic_id" jdbcType="VARCHAR" property="picId" />
    <result column="link_id" jdbcType="VARCHAR" property="linkId" />
    <result column="pic_addr" jdbcType="VARCHAR" property="picAddr" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="pic_oldname" jdbcType="VARCHAR" property="picOldname" />
    <result column="pic_desc" jdbcType="VARCHAR" property="picDesc" />
    <result column="pic_suffix" jdbcType="VARCHAR" property="picSuffix" />
    <result column="pic_type" jdbcType="VARCHAR" property="picType" />
    <result column="pic_size" jdbcType="BIGINT" property="picSize" />
    <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
    <result column="pic_del" jdbcType="VARCHAR" property="picDel" />
    <result column="pic_mark" jdbcType="VARCHAR" property="picMark" />
    <result column="pic_no" jdbcType="INTEGER" property="picNo" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="pic_content" jdbcType="LONGVARBINARY" property="picContent" />
    <association property="webLinkBase" javaType="com.xiaocai.web.demo.entity.website.WebLinkBase">
        <id column="link_id" jdbcType="VARCHAR" property="linkId" />
	    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
	    <result column="page_id" jdbcType="VARCHAR" property="pageId" />
	    <result column="link_no" jdbcType="BIGINT" property="linkNo" />
	    <result column="link_herf" jdbcType="VARCHAR" property="linkHerf" />
	    <result column="link_name" jdbcType="VARCHAR" property="linkName" />
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pic_id, link_id, pic_addr, pic_name, pic_oldname, pic_desc, pic_suffix, pic_type, 
    pic_size, pic_path, pic_del, pic_mark, pic_no, add_time
  </sql>
  <sql id="Blob_Column_List">
    pic_content
  </sql>
  <sql id="Column_List_With_Link">
    p.pic_id, p.link_id, p.pic_addr, p.pic_name, p.pic_oldname, p.pic_desc, p.pic_suffix, p.pic_type, 
    p.pic_size, p.pic_path, p.pic_del, p.pic_mark, p.pic_no, p.add_time,p.pic_content,
    l.link_id,l.category_id,l.page_id,l.link_no, l.link_herf, l.link_name
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.xiaocai.web.demo.entity.website.WebPictrueExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_web_pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithlink" parameterType="com.xiaocai.web.demo.entity.website.WebPictrueExample" resultMap="ResultMapWithLink">
    select
    <include refid="Column_List_With_Link" />
    from tb_web_pic p left join tb_web_link l on p.link_id=l.link_id 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xiaocai.web.demo.entity.website.WebPictrueExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_web_pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_web_pic
    where pic_id = #{picId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKeyWithlink" parameterType="java.lang.String" resultMap="ResultMapWithLink">
    select 
   <include refid="Column_List_With_Link" />
    from tb_web_pic  p left join tb_web_link l on p.link_id=l.link_id
    where p.pic_id = #{picId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_web_pic
    where pic_id = #{picId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaocai.web.demo.entity.website.WebPictrueExample">
    delete from tb_web_pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaocai.web.demo.entity.website.WebPictrue">
    insert into tb_web_pic (pic_id, link_id, pic_addr, 
      pic_name, pic_oldname, pic_desc, 
      pic_suffix, pic_type, pic_size, 
      pic_path, pic_del, pic_mark, 
      pic_no, add_time, pic_content
      )
    values (#{picId,jdbcType=VARCHAR}, #{linkId,jdbcType=VARCHAR}, #{picAddr,jdbcType=VARCHAR}, 
      #{picName,jdbcType=VARCHAR}, #{picOldname,jdbcType=VARCHAR}, #{picDesc,jdbcType=VARCHAR}, 
      #{picSuffix,jdbcType=VARCHAR}, #{picType,jdbcType=VARCHAR}, #{picSize,jdbcType=BIGINT}, 
      #{picPath,jdbcType=VARCHAR}, #{picDel,jdbcType=VARCHAR}, #{picMark,jdbcType=VARCHAR}, 
      #{picNo,jdbcType=INTEGER}, #{addTime,jdbcType=VARCHAR}, #{picContent,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaocai.web.demo.entity.website.WebPictrue">
    insert into tb_web_pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="picId != null">
        pic_id,
      </if>
      <if test="linkId != null">
        link_id,
      </if>
      <if test="picAddr != null">
        pic_addr,
      </if>
      <if test="picName != null">
        pic_name,
      </if>
      <if test="picOldname != null">
        pic_oldname,
      </if>
      <if test="picDesc != null">
        pic_desc,
      </if>
      <if test="picSuffix != null">
        pic_suffix,
      </if>
      <if test="picType != null">
        pic_type,
      </if>
      <if test="picSize != null">
        pic_size,
      </if>
      <if test="picPath != null">
        pic_path,
      </if>
      <if test="picDel != null">
        pic_del,
      </if>
      <if test="picMark != null">
        pic_mark,
      </if>
      <if test="picNo != null">
        pic_no,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="picContent != null">
        pic_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="picId != null">
        #{picId,jdbcType=VARCHAR},
      </if>
      <if test="linkId != null">
        #{linkId,jdbcType=VARCHAR},
      </if>
      <if test="picAddr != null">
        #{picAddr,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picOldname != null">
        #{picOldname,jdbcType=VARCHAR},
      </if>
      <if test="picDesc != null">
        #{picDesc,jdbcType=VARCHAR},
      </if>
      <if test="picSuffix != null">
        #{picSuffix,jdbcType=VARCHAR},
      </if>
      <if test="picType != null">
        #{picType,jdbcType=VARCHAR},
      </if>
      <if test="picSize != null">
        #{picSize,jdbcType=BIGINT},
      </if>
      <if test="picPath != null">
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="picDel != null">
        #{picDel,jdbcType=VARCHAR},
      </if>
      <if test="picMark != null">
        #{picMark,jdbcType=VARCHAR},
      </if>
      <if test="picNo != null">
        #{picNo,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="picContent != null">
        #{picContent,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaocai.web.demo.entity.website.WebPictrueExample" resultType="java.lang.Long">
    select count(*) from tb_web_pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_web_pic
    <set>
      <if test="record.picId != null">
        pic_id = #{record.picId,jdbcType=VARCHAR},
      </if>
      <if test="record.linkId != null">
        link_id = #{record.linkId,jdbcType=VARCHAR},
      </if>
      <if test="record.picAddr != null">
        pic_addr = #{record.picAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.picName != null">
        pic_name = #{record.picName,jdbcType=VARCHAR},
      </if>
      <if test="record.picOldname != null">
        pic_oldname = #{record.picOldname,jdbcType=VARCHAR},
      </if>
      <if test="record.picDesc != null">
        pic_desc = #{record.picDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.picSuffix != null">
        pic_suffix = #{record.picSuffix,jdbcType=VARCHAR},
      </if>
      <if test="record.picType != null">
        pic_type = #{record.picType,jdbcType=VARCHAR},
      </if>
      <if test="record.picSize != null">
        pic_size = #{record.picSize,jdbcType=BIGINT},
      </if>
      <if test="record.picPath != null">
        pic_path = #{record.picPath,jdbcType=VARCHAR},
      </if>
      <if test="record.picDel != null">
        pic_del = #{record.picDel,jdbcType=VARCHAR},
      </if>
      <if test="record.picMark != null">
        pic_mark = #{record.picMark,jdbcType=VARCHAR},
      </if>
      <if test="record.picNo != null">
        pic_no = #{record.picNo,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=VARCHAR},
      </if>
      <if test="record.picContent != null">
        pic_content = #{record.picContent,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update tb_web_pic
    set pic_id = #{record.picId,jdbcType=VARCHAR},
      link_id = #{record.linkId,jdbcType=VARCHAR},
      pic_addr = #{record.picAddr,jdbcType=VARCHAR},
      pic_name = #{record.picName,jdbcType=VARCHAR},
      pic_oldname = #{record.picOldname,jdbcType=VARCHAR},
      pic_desc = #{record.picDesc,jdbcType=VARCHAR},
      pic_suffix = #{record.picSuffix,jdbcType=VARCHAR},
      pic_type = #{record.picType,jdbcType=VARCHAR},
      pic_size = #{record.picSize,jdbcType=BIGINT},
      pic_path = #{record.picPath,jdbcType=VARCHAR},
      pic_del = #{record.picDel,jdbcType=VARCHAR},
      pic_mark = #{record.picMark,jdbcType=VARCHAR},
      pic_no = #{record.picNo,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=VARCHAR},
      pic_content = #{record.picContent,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_web_pic
    set pic_id = #{record.picId,jdbcType=VARCHAR},
      link_id = #{record.linkId,jdbcType=VARCHAR},
      pic_addr = #{record.picAddr,jdbcType=VARCHAR},
      pic_name = #{record.picName,jdbcType=VARCHAR},
      pic_oldname = #{record.picOldname,jdbcType=VARCHAR},
      pic_desc = #{record.picDesc,jdbcType=VARCHAR},
      pic_suffix = #{record.picSuffix,jdbcType=VARCHAR},
      pic_type = #{record.picType,jdbcType=VARCHAR},
      pic_size = #{record.picSize,jdbcType=BIGINT},
      pic_path = #{record.picPath,jdbcType=VARCHAR},
      pic_del = #{record.picDel,jdbcType=VARCHAR},
      pic_mark = #{record.picMark,jdbcType=VARCHAR},
      pic_no = #{record.picNo,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaocai.web.demo.entity.website.WebPictrue">
    update tb_web_pic
    <set>
      <if test="linkId != null">
        link_id = #{linkId,jdbcType=VARCHAR},
      </if>
      <if test="picAddr != null">
        pic_addr = #{picAddr,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        pic_name = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picOldname != null">
        pic_oldname = #{picOldname,jdbcType=VARCHAR},
      </if>
      <if test="picDesc != null">
        pic_desc = #{picDesc,jdbcType=VARCHAR},
      </if>
      <if test="picSuffix != null">
        pic_suffix = #{picSuffix,jdbcType=VARCHAR},
      </if>
      <if test="picType != null">
        pic_type = #{picType,jdbcType=VARCHAR},
      </if>
      <if test="picSize != null">
        pic_size = #{picSize,jdbcType=BIGINT},
      </if>
      <if test="picPath != null">
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="picDel != null">
        pic_del = #{picDel,jdbcType=VARCHAR},
      </if>
      <if test="picMark != null">
        pic_mark = #{picMark,jdbcType=VARCHAR},
      </if>
      <if test="picNo != null">
        pic_no = #{picNo,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="picContent != null">
        pic_content = #{picContent,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where pic_id = #{picId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaocai.web.demo.entity.website.WebPictrue">
    update tb_web_pic
    set link_id = #{linkId,jdbcType=VARCHAR},
      pic_addr = #{picAddr,jdbcType=VARCHAR},
      pic_name = #{picName,jdbcType=VARCHAR},
      pic_oldname = #{picOldname,jdbcType=VARCHAR},
      pic_desc = #{picDesc,jdbcType=VARCHAR},
      pic_suffix = #{picSuffix,jdbcType=VARCHAR},
      pic_type = #{picType,jdbcType=VARCHAR},
      pic_size = #{picSize,jdbcType=BIGINT},
      pic_path = #{picPath,jdbcType=VARCHAR},
      pic_del = #{picDel,jdbcType=VARCHAR},
      pic_mark = #{picMark,jdbcType=VARCHAR},
      pic_no = #{picNo,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=VARCHAR},
      pic_content = #{picContent,jdbcType=LONGVARBINARY}
    where pic_id = #{picId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaocai.web.demo.entity.website.WebPictrue">
    update tb_web_pic
    set link_id = #{linkId,jdbcType=VARCHAR},
      pic_addr = #{picAddr,jdbcType=VARCHAR},
      pic_name = #{picName,jdbcType=VARCHAR},
      pic_oldname = #{picOldname,jdbcType=VARCHAR},
      pic_desc = #{picDesc,jdbcType=VARCHAR},
      pic_suffix = #{picSuffix,jdbcType=VARCHAR},
      pic_type = #{picType,jdbcType=VARCHAR},
      pic_size = #{picSize,jdbcType=BIGINT},
      pic_path = #{picPath,jdbcType=VARCHAR},
      pic_del = #{picDel,jdbcType=VARCHAR},
      pic_mark = #{picMark,jdbcType=VARCHAR},
      pic_no = #{picNo,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=VARCHAR}
    where pic_id = #{picId,jdbcType=VARCHAR}
  </update>
  <insert id="insertByBatch" parameterType="java.util.List">
      insert into tb_web_pic (pic_id, link_id, pic_addr, 
						      pic_name, pic_oldname, pic_desc, 
						      pic_suffix, pic_type, pic_size, 
						      pic_path, pic_del, pic_mark, 
						      pic_no, add_time, pic_content
      )
     values 
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.picId,jdbcType=VARCHAR}, #{item.linkId,jdbcType=VARCHAR}, #{item.picAddr,jdbcType=VARCHAR}, 
		      #{item.picName,jdbcType=VARCHAR}, #{item.picOldname,jdbcType=VARCHAR}, #{item.picDesc,jdbcType=VARCHAR}, 
		      #{item.picSuffix,jdbcType=VARCHAR}, #{item.picType,jdbcType=VARCHAR}, #{item.picSize,jdbcType=BIGINT}, 
		      #{item.picPath,jdbcType=VARCHAR}, #{item.picDel,jdbcType=VARCHAR}, #{item.picMark,jdbcType=VARCHAR}, 
		      #{item.picNo,jdbcType=INTEGER}, #{item.addTime,jdbcType=VARCHAR}, #{item.picContent,jdbcType=LONGVARBINARY}
      		)
        </foreach>
   </insert>
</mapper>