<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaocai.web.demo.dao.website.WebSiteMapper">
  <resultMap id="BaseResultMap" type="com.xiaocai.web.demo.entity.website.WebSite">
    <id column="web_id" jdbcType="VARCHAR" property="webId" />
    <result column="web_url" jdbcType="VARCHAR" property="webUrl" />
    <result column="web_name" jdbcType="VARCHAR" property="webName" />
    <result column="web_desc" jdbcType="VARCHAR" property="webDesc" />
    <result column="web_open" jdbcType="VARCHAR" property="webOpen" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xiaocai.web.demo.entity.website.WebSite">
    <result column="web_content" jdbcType="LONGVARCHAR" property="webContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    web_id, web_url, web_name, web_desc, web_open, add_time
  </sql>
  <sql id="Blob_Column_List">
    web_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.xiaocai.web.demo.entity.website.WebSiteExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_web_site
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xiaocai.web.demo.entity.website.WebSiteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_web_site
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_web_site
    where web_id = #{webId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_web_site
    where web_id = #{webId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaocai.web.demo.entity.website.WebSiteExample">
    delete from tb_web_site
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaocai.web.demo.entity.website.WebSite">
    insert into tb_web_site (web_id, web_url, web_name, 
      web_desc, web_open, add_time, 
      web_content)
    values (#{webId,jdbcType=VARCHAR}, #{webUrl,jdbcType=VARCHAR}, #{webName,jdbcType=VARCHAR}, 
      #{webDesc,jdbcType=VARCHAR}, #{webOpen,jdbcType=VARCHAR}, #{addTime,jdbcType=VARCHAR}, 
      #{webContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaocai.web.demo.entity.website.WebSite">
    insert into tb_web_site
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="webId != null">
        web_id,
      </if>
      <if test="webUrl != null">
        web_url,
      </if>
      <if test="webName != null">
        web_name,
      </if>
      <if test="webDesc != null">
        web_desc,
      </if>
      <if test="webOpen != null">
        web_open,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="webContent != null">
        web_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="webId != null">
        #{webId,jdbcType=VARCHAR},
      </if>
      <if test="webUrl != null">
        #{webUrl,jdbcType=VARCHAR},
      </if>
      <if test="webName != null">
        #{webName,jdbcType=VARCHAR},
      </if>
      <if test="webDesc != null">
        #{webDesc,jdbcType=VARCHAR},
      </if>
      <if test="webOpen != null">
        #{webOpen,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="webContent != null">
        #{webContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaocai.web.demo.entity.website.WebSiteExample" resultType="java.lang.Long">
    select count(*) from tb_web_site
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_web_site
    <set>
      <if test="record.webId != null">
        web_id = #{record.webId,jdbcType=VARCHAR},
      </if>
      <if test="record.webUrl != null">
        web_url = #{record.webUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.webName != null">
        web_name = #{record.webName,jdbcType=VARCHAR},
      </if>
      <if test="record.webDesc != null">
        web_desc = #{record.webDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.webOpen != null">
        web_open = #{record.webOpen,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=VARCHAR},
      </if>
      <if test="record.webContent != null">
        web_content = #{record.webContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update tb_web_site
    set web_id = #{record.webId,jdbcType=VARCHAR},
      web_url = #{record.webUrl,jdbcType=VARCHAR},
      web_name = #{record.webName,jdbcType=VARCHAR},
      web_desc = #{record.webDesc,jdbcType=VARCHAR},
      web_open = #{record.webOpen,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=VARCHAR},
      web_content = #{record.webContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_web_site
    set web_id = #{record.webId,jdbcType=VARCHAR},
      web_url = #{record.webUrl,jdbcType=VARCHAR},
      web_name = #{record.webName,jdbcType=VARCHAR},
      web_desc = #{record.webDesc,jdbcType=VARCHAR},
      web_open = #{record.webOpen,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaocai.web.demo.entity.website.WebSite">
    update tb_web_site
    <set>
      <if test="webUrl != null">
        web_url = #{webUrl,jdbcType=VARCHAR},
      </if>
      <if test="webName != null">
        web_name = #{webName,jdbcType=VARCHAR},
      </if>
      <if test="webDesc != null">
        web_desc = #{webDesc,jdbcType=VARCHAR},
      </if>
      <if test="webOpen != null">
        web_open = #{webOpen,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="webContent != null">
        web_content = #{webContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where web_id = #{webId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaocai.web.demo.entity.website.WebSite">
    update tb_web_site
    set web_url = #{webUrl,jdbcType=VARCHAR},
      web_name = #{webName,jdbcType=VARCHAR},
      web_desc = #{webDesc,jdbcType=VARCHAR},
      web_open = #{webOpen,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=VARCHAR},
      web_content = #{webContent,jdbcType=LONGVARCHAR}
    where web_id = #{webId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaocai.web.demo.entity.website.WebSite">
    update tb_web_site
    set web_url = #{webUrl,jdbcType=VARCHAR},
      web_name = #{webName,jdbcType=VARCHAR},
      web_desc = #{webDesc,jdbcType=VARCHAR},
      web_open = #{webOpen,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=VARCHAR}
    where web_id = #{webId,jdbcType=VARCHAR}
  </update>
</mapper>